.clock {
    width: 100%;
    max-width: 800px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --i {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.clock__container {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0 20px;
    border-radius: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: repeating-conic-gradient(
      from var(--i),
      #80f6ff 0%,
      #80f6ff 5%,
      transparent 5%,
      transparent 40%,
      #80f6ff 50%
    );
    animation: anim 4s linear infinite;
}

.clock__container .clock__time {
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
    z-index: 1;
}

.clock__container .clock__unit {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 1;
}

.clock__container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(
      from var(--i),
      #fffb2c 0%,
      #fffb2c 5%,
      transparent 5%,
      transparent 40%,
      #fffb2c 50%
    );
    border-radius: 16px;
    animation: anim 4s linear infinite;
    animation-delay: -1s;
}

@keyframes anim {
    0% {
      --i: 0deg;
    }
    100% {
      --i: 360deg;
    }
}

.clock__container::after {
    position: absolute;
    content: "";
    inset: 4px;
    background: #000;
    border: 4px solid #1b1b1b;
    border-radius: 14px;
}